<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hello</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<div>
    <span th:text="#{lang.change}"></span>:
    <select id="locales">
        <option value=""></option>
        <option value="en" th:text="#{lang.eng}"></option>
        <option value="pl" th:text="#{lang.pl}"></option>
        <option value="fa" th:text="#{lang.fa}"></option>
    </select>
</div>
<br/>
<div>
    <span  th:text="#{title}"></span>
</div>
<br/>
<div>
    <span  th:text="#{replacer.greeting.city(#{replacer.city})}"></span>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('home?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>